.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 25rem;

  .loginForm {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--space-m);
    margin-top: var(--space-l);
  }
}
