:root {
  --betfinal-cyan: #ffe100;
  --betfinal-purple: #000000;

  --uikit-border-radius: 0;

  --uikit-color-background-surface: var(--betfinal-purple);
  --uikit-color-primary-main: var(--betfinal-cyan);
  --uikit-color-primary-contrast: #000000;
  --uikit-color-primary-shade: #ffe100a1;
  --uikit-color-border-main: var(--betfinal-cyan);
}

body {
  font-family: var(--font-amiri), -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--space-xl);

  @media (width <= 767px) {
    padding: var(--space-l) var(--space-s);
  }
}
