.card {
  border-radius: var(--uikit-border-radius);
  border: 2px solid var(--uikit-color-primary-main);
  background-color: transparent;
  padding: var(--space-xl);

  @media (width <= 767px) {
    padding: var(--space-l);
  }
}
