.container {
  .languageButton {
    padding: var(--space-xs) var(--space-s);
    border: 2px solid var(--uikit-color-primary-main);
    background-color: transparent;
    cursor: pointer;
    font-weight: 500;
    text-transform: uppercase;

    &:first-child {
      border-top-left-radius: var(--uikit-border-radius);
      border-bottom-left-radius: var(--uikit-border-radius);
    }

    &:last-child {
      border-top-right-radius: var(--uikit-border-radius);
      border-bottom-right-radius: var(--uikit-border-radius);
    }

    &[data-selected="true"] {
      cursor: default;
      background-color: var(--uikit-color-primary-main);
      color: var(--uikit-color-primary-contrast);

      &:hover {
        text-decoration: none;
      }
    }
  }
}
