:root {
  --cosmos-cyan: #00FFFF;
  --cosmos-purple: #6A0DAD;

  --uikit-border-radius: 12px;

  --uikit-color-background-surface: var(--cosmos-purple);
  --uikit-color-primary-main: var(--cosmos-cyan);
  --uikit-color-primary-contrast: #000000;
  --uikit-color-primary-shade: #00e0e0;
  --uikit-color-border-main: var(--cosmos-cyan);
}

body {
  font-family: var(--font-poppins), -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--space-xl);

  @media (width <= 767px) {
    padding: var(--space-l) var(--space-s);
  }
}
