.formInputGroup {
  display: flex;
  flex-direction: column;

  label {
    margin-bottom: var(--space-xxs);
    font-size: var(--text-xs);
    color: var(--uikit-color-text-muted);
    font-weight: 500;
  }
}
